<% if user_signed_in? %>
<h1>
  Conta Bancaria
</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Numero da Conta</th>
      <th>Saldo</th>
      <th>Ações</th>
      <th><button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Solicitar Saldo
      </button>
      <br>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Saldo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <h2>
              <%= number_to_currency(current_user.account.balance) %>
            </h2>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= current_user.account.account_number %></td>
        <td><%= number_to_currency(current_user.account.balance) %></td>
        <td>
          <div class="row">
            <div class="col-sm "><%= button_to "Depositar", new_deposit_path, method: :get,  class: "btn btn-secondary btn-sm", style: "margin-top: -5px margin-right: 10px" %></div>
            <div class="col-sm "><%= button_to "Sacar", new_withdrawal_path, method: :get,  class: "btn btn-secondary btn-sm", style: "margin-top: -5px margin-right: 10px" %></div>
            <div class="col-sm "><%= button_to "Transferir", new_transference_path, method: :get,  class: "btn btn-secondary btn-sm", style: "margin-top: -5px margin-right: 10px" %></div>
            <div class="col-sm "><%= button_to "Extrato Bancário", bank_statements_path, method: :get,  class: "btn btn-secondary btn-sm", style: "margin-top: -5px margin-right: 10px" %></div>
            <div class="col-sm "><%= button_to "Encerrar Conta", close_account_path, method: :patch,  class: "btn btn-danger btn-sm", style: "margin-top: -5px margin-right: 10px" %></div>
          </div>        
        </td>
      </tr>
  </tbody>
</table>
<% else %>
<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <h1 style="color: rgb(2, 2, 153)">Conheça o NobeBank! <br> O lugar certo para fazer <br> suas transações. :D</h1> 
      <img src="https://img.freepik.com/vetores-gratis/pessoas-com-smartphones-usando-o-aplicativo-bancario-movel_74855-5917.jpg?w=740" class="img-fluid"
        alt="Sample image">
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
      <h2 class="big fw-bold mt-2 pt-1 mb-0 text-center"> Ainda não tem conta? <a href="#!"
          class="link-danger"><%= link_to "Clique aqui para criar!", new_user_registration_path %><br /></a></h2>
    </div>
  </div>
</div>
<% end %>
